@model BTL_Web_NC.Models.CongTy

@{
    ViewData["Title"] = "Thông Tin Nhà Tuyển Dụng";
    var CongTy = ViewBag.CongTy as BTL_Web_NC.Models.CongTy;
    var danhSachCongViec = ViewBag.DanhSachCongViec as List<BTL_Web_NC.Models.CongViec>;
}

<h2 class="text-center">Thông Tin Công Ty</h2>

<div class="container mt-4">
    <div class="mb-3">
        <strong>Tên Công Ty:</strong> @Model.TenCongTy
    </div>

    <div class="mb-3">
        <strong>Địa Chỉ:</strong> @Model.DiaChi
    </div>

    <div class="mb-3">
        <strong>Mô Tả Công Ty:</strong> @Model.MoTa
    </div>

    <div class="mb-3">
        <strong>Website:</strong> <a href="@Model.Website" target="_blank">@Model.Website</a>
    </div>

    


    @if (!string.IsNullOrEmpty(Model.Logo))
    {
        <div class="mb-3">
            <strong>Logo Công Ty:</strong> <br />
            <img src="@Model.Logo" alt="Logo Công Ty" width="150">
        </div>
    }

    <a asp-controller="Employer" asp-action="Edit" asp-route-id="@Model.MaCongTy" class="btn btn-primary">Chỉnh Sửa</a>
    <a asp-controller="Job" asp-action="CreateJob" class="btn btn-primary">Thêm việc</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Quay lại</a>

</div>

<h3 class="text-center">Danh sách công việc đã đăng</h3>
@if (danhSachCongViec != null && danhSachCongViec.Any())
{
    <div class="container mt-4">
      <div class ="row">
        @foreach (var job in danhSachCongViec)
        {
        <div class="col-md-6 mb-4">
            <div class="card" onclick="location.href='@Url.Action("Detail", "Job", new { id = @job.MaCongViec })';" style="cursor: pointer;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="@job.CongTy.Logo" class="img-fluid rounded-start" alt="Image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">@job.TieuDe</h5>
                    <p class="card-text">@job.MoTa</p>
                    <p class="card-text"><small class="text-body-secondary">Ngày Đăng: @job.NgayDang.ToString("dd/MM/yyyy")</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

}
else
{
    <p>Chưa có công việc nào được đăng.</p>
}